.contacts {
  text-align: center;
}

.contacts__slogan {
  margin-top: 41px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  color: #283645;
}

.contacts__list {
  margin-top: 35px;
  padding: 0;
  list-style: none;
}

.contacts__list-item {
  margin-bottom: 18px;
}

.contacts__list-item:nth-of-type(2) {
  margin-bottom: 25px;
}

.contacts__head {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #283645;
}

.contacts__address-slogan {
  margin-bottom: 3px;
}

.contacts__description {
  font-size: 24px;
  font-weight: lighter;
  color: #d22856;
}

.contacts__address-description {
  line-height: 30px;
}

.contacts__tel {
  text-align: center;
  padding: 0 50px;
  margin-bottom: 22px;
}

.contacts__tel-link,
.contacts__mail-link {
  text-decoration: none;
}

.contacts__mail-link:hover {
  color: #283645;
  text-decoration: underline;
}

.contacts__mail-link:active {
  color: rgba(40, 54, 69, 0.3);
  text-decoration: none;
}

.contacts__mail {
  margin-bottom: 21px;
  padding: 0 30px;
}

.contacts__address {
  padding: 0 50px;
}

.contacts__map {
  position: relative;
  margin-top: 20px;
}

.contacts__map::before {
  position: absolute;
  top: -1px;
  display: block;
  content: "";
  min-width: 100%;
  min-height: 158px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='595.28px' height='61.905px' viewBox='0 0 595.28 61.905' enable-background='new 0 0 595.28 61.905' xml:space='preserve'%3e%3cpolygon fill='%23ffffff' points='297.64,61.905 0,0 595.28,0 '/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.contacts__map-iframe {
  width: 100%;
  min-height: 100%;
}

@media (min-width: @tablet-width) {
  .contacts__slogan {
    margin: 45px 144px 0 144px;
    font-size: 40px;
    line-height: 55px;
  }

  .contacts__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 641px;
    height: 195px;
    margin-top: 33px;
    margin-left: 10px;
  }

  .contacts__tel,
  .contacts__mail,
  .contacts__address {
    padding: 0;
    width: 237px;
  }

  .contacts__list-item {
    width: 240px;
  }

  .contacts__description {
    display: block;
    margin-top: 8px;
    margin-left: -5px;
  }

  .contacts__address {
    margin: 0;
    margin-left: 5px;
    align-self: flex-end;
  }

  .contacts__address-description {
    line-height: 32px;
  }

  .contacts__map {
    margin-top: 6px;
    height: 374px;
  }

  .contacts__map::before {
    position: absolute;
    top: -1px;
    display: block;
    content: "";
    min-width: 100%;
    height: 158px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='595.28px' height='61.905px' viewBox='0 0 595.28 61.905' enable-background='new 0 0 595.28 61.905' xml:space='preserve'%3e%3cpolygon fill='%23ffffff' points='297.64,61.905 0,0 595.28,0 '/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}

@media (min-width: @desktop-width) {
  .contacts__slogan {
    width: 470px;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 44px;
    font-size: 50px;
    line-height: 65px;
    font-weight: lighter;
  }

  .contacts__list {
    flex-wrap: nowrap;
    flex-direction: row;
    width: 940px;
  }

  .contacts__address {
    margin: 0;
    padding: 0;
    align-self: stretch;
    margin-left: 5px;
    order: 2;
  }

  .contacts__description {
    margin-top: 24px;
  }

  .contacts__tel {
    margin-left: -20px;
  }

  .contacts__mail {
    order: 3;
  }

  .contacts__map {
    overflow: hidden;
    width: 100%;
    margin-top: -105px;
    height: 520px;
  }

  .contacts__map::before {
    top: 0;
    min-height: 300px;
    min-width: 100%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1200' height='123' viewBox='0 0 1200 123' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M599.5 123L-120 0H1319L599.5 123Z' fill='white'/%3e%3c/svg%3e");
    background-position: 0 0;
    background-size: contain;
  }
}
