.label-form:hover::before {
  border-color: #283645;
}

.label-form:active::before {
  border-color: #d22856;
}

.label-form {
  margin-left: 22px;
}

@media (min-width: @tablet-width) {
  .label-form {
    margin: 0;
  }
}
