@media (min-width: @tablet-width) {
  .news {
    display: block;
    margin-top: 56px;
  }

  .news__wrapper {
    display: flex;
  }

  .news__timer {
    margin-right: 73px;
    margin-left: 20px;
  }

  .news__timer-circle {
    fill: #ffffff;
    stroke: #d22856;
    stroke-width: 18px;
    border: 10px solid #d22856;
  }

  .news__timer-text {
    font-size: 120px;
    font-weight: bold;
    line-height: 163px;
    fill: #d22856;
  }

  .news__block {
    text-align: left;
    padding-right: 36px;
  }

  .news__head {
    margin-top: 41px;
    margin-bottom: 0;
    padding-right: 30px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
  }

  .news__content,
  .mews__link {
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  .news__content {
    margin-top: 10px;
    letter-spacing: 0.3px;
  }

  .news__link {
    letter-spacing: -0.5px;
    color: #d22856;
  }

  .page-svg .timer__circuit-external {
    fill: #dedede;
  }

  .page-svg .timer__circuit-internal {
    stroke: #d22856;
  }

  .page-svg .timer__text {
    fill: #d22856;
  }
}

@media (min-width: @desktop-width) {
  .news {
    margin: 0;
    padding-bottom: 65px;
    background-color: #f2f2f2;
  }

  .news__timer-svg {
    margin-left: -19px;
    width: 298px;
    height: 345px;
  }

  .news__timer-text {
    font-size: 120px;
    line-height: 187px;
    font-weight: bold;
  }

  .news__block {
    margin-top: 54px;
    width: 530px;
  }

  .news__head {
    margin-bottom: 21px;
  }

  .news__content,
  .mews__link {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
  }

  .news__content {
    margin-bottom: 35px;
  }

  .news__link {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}
