.page-footer {
  text-align: center;
  margin-top: -15px;
}

.page-footer__logo {
  display: block;
  margin-bottom: 0;
}

.page-footer__logo-image:hover .page-footer__logo-mobile path {
  fill: #d22856;
}

.page-footer__logo-image:active .page-footer__logo-mobile path {
  opacity: 0.3;
}

.page-footer__logo-image:active .page-footer__logo-mobile path:not(:last-of-type) {
  fill: #283645;
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 178px;
}

.page-footer__social-item {
  width: 46px;
  height: 46px;
  line-height: 50px;
  vertical-align: middle;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  background-color: #fefefe;
}

.page-footer__social-item:hover {
  border-color: #283645;
}

.page-footer__social-item:active {
  opacity: 0.1;
}

.page-footer__social-item:last-of-type {
  margin-right: 0;
}

.page-footer__social-link {
  display: block;
}

.page-footer__developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin: 36px auto;
  margin-top: 37px;
}

.page-footer__developer-text {
  margin-right: 15px;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}

.page-footer__developer use {
  fill: #d22856;
}

.page-footer__developer:hover use {
  fill: #283645;
}

.page-footer__developer:active use {
  fill: #283645;
  opacity: 0.3;
}

.page-footer__social-icon {
  fill: #d22856;
}

.page-footer__developer-image {
  width: 27px;
  height: 34px;
}

.page-footer__developer-image:hover path {
  fill: #283645;
}

.page-footer__developer-image:active path {
  opacity: 0.3;
}

.page-svg #logo-pink-blue-mobile path {
  fill: #d22856;
}

.page-svg #logo-pink-blue-mobile g path {
  fill: #283645;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 620px;
    margin: 0 auto;

    min-height: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo,
  .page-footer__developer {
    margin: 0;
  }

  .page-footer__logo {
    margin-top: -12px;
  }

  .page-footer__social-list {
    display: flex;
    align-items: center;
    margin-top: -2px;
    margin-left: 77px;
  }

  .page-footer__logo-image {
    margin-top: -10px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    margin-top: 33px;
    width: 940px;
  }

  .page-footer__logo-desktop {
    display: block;
  }

  .page-footer__logo-image:hover .page-footer__logo-desktop path {
    fill: #d22856;
  }

  .page-footer__logo-image:active .page-footer__logo-desktop path {
    opacity: 0.3;
  }

  .page-footer__logo-image:active .page-footer__logo-mobile path:nth-of-type(n+4) {
    fill: #283645;
  }

  .page-footer__logo--mobile {
    display: none;
  }

  .page-footer__logo--desktop {
    display: block;
  }

  .page-footer__logo,
  .page-footer__developer {
    margin: 0;
  }

  .page-footer__developer {
    margin-top: 4px;
    width: 153px;
  }

  .page-footer__developer-text {
    margin: 0;
    font-size: 18px;
  }

  .page-footer__social-list {
    width: 168px;
    margin: 0;
    margin-left: 5px;
  }

  .page-footer__social-icon {
    position: relative;
    top: 2px;
  }

  .page-footer__social-youtube {
    left: 3px;
  }

  .page-footer__social-fb {
    left: 2px;
  }

  .page-footer__desktop {
    margin-top: 60px;
  }
}

// photo.html
.page-footer__logo--mobile {
  margin-top: 50px;
  margin-bottom: 35px;
}

.page-footer--photo {
  margin-top: -10px;
}


@media (min-width: @tablet-width) {
  .page-footer__logo--mobile {
    margin-top: 40px;
  }
}

// form.html

.page-footer__developer--form {
  margin-top: 36px;
}

.page-footer--form {
    margin-top: -5px;
}

@media (min-width: @tablet-width) {
  .page-footer--form {
    margin-top: 47px;
  }

  .page-footer__developer--form {
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer--form {
    margin-top: 34px;
  }
}
