.tariff {
  min-height: 511px;
  position: relative;
  background-color: #f2f2f2;
}

.tariff::before {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  display: block;
  content: "";
  height: 50px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='1200px' height='94.074px' viewBox='0 0 1200 94.074' enable-background='new 0 0 1200 94.074' xml:space='preserve'%3e%3cpolygon fill='%23ffffff' points='1200,0 0,0 0,94.074 '/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}

.tariff__wrapper {
  overflow: hidden;
}

.tariff__table {
  width: auto;
  margin-top: 130px;
  position: relative;
  top: 0;
  left: 0;
  border-spacing: 0;
}

.tariff__table-head {
  box-sizing: border-box;
  padding: 14px 102px 29px 88px;
  width: 276px;
  height: 94px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: 1px solid #f2f2f2;
  background-color: #283645;
  color: #ffffff;
}

.tariff__table-head--standart {
  position: relative;
}

.tariff__table-head--standart::before {
  position: absolute;
  top: 0;
  left: -2px;
  display: block;
  content: "";
  width: 74px;
  height: 74px;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 74px 74px;
}

.tariff__table-head--standart::after {
  position: absolute;
  top: 12px;
  left: 6px;
  display: block;
  content: "ХИТ";
  width: 74px;
  height: 74px;
  font-size: 12px;
  line-height: 21px;
  color: #ffffff;
  font-weight: normal;
  transform: rotate(-45deg);
}

.tariff__table-type {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}

.tariff__table-price {
  font-size: 18px;
  font-weight: lighter;
  line-height: 25px;
}

.tariff__table-cell {
  position: relative;
  box-sizing: border-box;
  padding-left: 18px;
  height: 60px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
  background-color: #ffffff;
  color: #283645;
}

.tariff__cell-span--third-filter,
.tariff__cell-span--third-smile,
.tariff__cell-span--third-comment {
  padding-left: 20px;
}

.tariff__icon {
  position: absolute;
  top: 18px;
  right: 18px;
}

.tariff__table-cell--first,
.tariff__table-head--first {
  display: none;
}

.tariff__icon--yes {
  fill: #3dc644;
}

.tariff__icon--no {
  fill: #f25b26;
}

.tariff__slider-input {
  display: none;
}

.tariff__slider-label::before {
  margin-right: 9px;
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background-color: rgba(40, 54, 69, 0.3);
  border: 3px solid #f2f2f2;
  border-radius: 50%;
}

.tariff__slider-label:hover::before {
  background-color: rgba(40, 54, 69, 0.6);
}

.tariff__slider-label:active::before {
  background-color: rgba(40, 54, 69, 0.1);
}

.tariff__slider-label::before:last-of-type {
  margin-right: 0;
}

.tariff__slider-labels {
  position: absolute;
  bottom: 41px;
  left: 50%;
  margin-left: -31px;
}

.tariff__slider-input--first-slide:checked ~ .tariff__slider-labels .tariff__slider-label--first-slide::before,
.tariff__slider-input--second-slide:checked ~ .tariff__slider-labels .tariff__slider-label--second-slide::before,
.tariff__slider-input--third-slide:checked ~ .tariff__slider-labels .tariff__slider-label--third-slide::before {
  border-color: #283645;
  background-color: #ffffff;
}

.tariff__slider-input--first-slide:checked ~ .tariff__table {
  left: 30px;
}

.tariff__slider-input--second-slide:checked ~ .tariff__table {
  left: -249px;
}

.tariff__slider-input--third-slide:checked ~ .tariff__table {
  left: -500px;
}

.tariff__slider-input--first-slide:checked ~ .tariff__slider-list .tariff__slider--first-item,
.tariff__slider-input--second-slide:checked ~ .tariff__slider-list .tariff__slider--srcond-item,
.tariff__slider-input--third-slide:checked ~ .tariff__slider-list .tariff__slider--third-item {
  display: block;
}

@media (min-width: @tablet-width) {
  .tariff {
    margin-top: -45px;
    min-height: 440px;
    position: relative;
    background-color: #f2f2f2;
  }

  .tariff::before {
    height: 100px;
  }

  .tariff__table {
    position: static;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .tariff__table-head--first,
  .tariff__table-cell--first {
    display: table-cell;
  }

  .tariff__table-head--first {
    visibility: hidden;
    background-color: transparent;
  }

  .tariff__cell-span {
    display: none;
  }

  .tariff__slider-labels {
    display: none;
  }

  .tariff__table-head {
    padding: 0;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 12px;
    padding-bottom: 10px;
    width: 160px;
    height: 75px;
  }

  .tariff__table-head:nth-of-type(2) {
    padding-left: 19px;
    padding-right: 16px;
    border-left: 0;
    border-top-left-radius: 5px;
  }

  .tariff__table-head:nth-of-type(3) {
    padding-left: 12px;
  }

  .tariff__table-head:last-of-type {
    border-right: 0;
    border-top-right-radius: 5px;
    padding-left: 10px;
  }

  .tariff__table-cell {
    width: 153px;
    height: 45px;
    padding-left: 17px;
    font-size: 14px;
    line-height: 30px;
    text-transform: none;
  }

  .tariff__table-cell-span--first-smile {
    padding-top: 5px;
  }

  .tariff__table-cell--first-comment {
    padding-top: 8px;
  }

  .tariff__table-head--standart::before {
    top: 0;
    left: 0;
    width: 61px;
    height: 61px;
    background-image: url("../img/bg-hit-tablet.svg");
    background-size: 60px 60px;
  }

  .tariff__table-head--standart::after {
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    content: "ХИТ";
    width: 61px;
    height: 61px;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: normal;
    transform: rotate(-45deg);
  }

  .tariff__icon {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -11px;
    margin-right: -14px;
  }
}

@media (min-width: @desktop-width) {
  .tariff {
    min-height: 420px;
    margin-top: -30px;
    padding-bottom: 100px;
  }

  .tariff::before {
    margin-top: 0;
    height: 200px;
    min-width: 100%;
    background-size: contain;
  }

  .tariff__table {
    position: static;
    margin: 0 auto;
    margin-top: 150px;
  }

  .tariff__table-head {
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 17px;
    width: 237px;
    height: 94px;
  }

  .tariff__table-head:nth-of-type(2) {
    width: 238px;
    padding-left: 41px;
    padding-right: 41px;
  }

  .tariff__table-head:nth-of-type(3) {
    width: 240px;
    padding: 0 25px;
  }

  .tariff__table-head:last-of-type {
    padding-left: 43px;
    padding-right: 39px;
  }

  .tariff__table-type {
    font-size: 18px;
    line-height: 30px;
  }

  .tariff__table-price {
    font-size: 24px;
    line-height: 30px;
  }

  .tariff__table-cell {
    width: 233px;
    height: 59px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 30px;
    text-transform: none;
  }

  .tariff__table-cell--first {
    width: 234px;
  }

  .tariff__table-head--standart::before {
    left: 1px;
    width: 74px;
    height: 74px;
    background-image: url("../img/bg-hit.svg");
    background-size: 74px 74px;
  }

  .tariff__table-head--standart::after {
    top: 10px;
    left: 5px;
    content: "ХИТ";
    width: 71px;
    height: 71px;
  }
}
